body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#111827;
}

.navbar input{
padding:10px;
border-radius:10px;
border:none;
}

.hero{
padding:40px;
text-align:center;
background:linear-gradient(
90deg,
#7c3aed,
#2563eb
);
}

.products-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.product-card{
background:#1e293b;
border-radius:20px;
overflow:hidden;
box-shadow:0 4px 20px rgba(0,0,0,.3);
}

.product-card img{
width:100%;
height:220px;
object-fit:cover;
}

.product-info{
padding:15px;
}

.price{
font-size:22px;
font-weight:bold;
color:#22c55e;
}

button{
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
cursor:pointer;
width:100%;
margin-top:10px;
}

.cart-panel{
padding:20px;
background:#111827;
}

.cart-item{
display:flex;
justify-content:space-between;
background:#1e293b;
padding:10px;
margin:10px 0;
border-radius:10px;
}

.whatsapp-btn{
background:#25D366;
}

.stats{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.stat-card{
background:#1e293b;
padding:20px;
border-radius:20px;
text-align:center;
}

.login-box{
max-width:400px;
margin:auto;
margin-top:100px;
background:#1e293b;
padding:30px;
border-radius:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:10px;

.analytics{
padding:20px;
background:#111827;
margin:20px;
border-radius:20px;
}

.orders-section{
padding:20px;
}

.order-card{
background:#1e293b;
padding:20px;
margin:10px 0;
border-radius:20px;
}

.reviews{
margin-top:10px;
padding:10px;
background:#0f172a;
border-radius:10px;
}

.promo{
background:red;
padding:5px 10px;
border-radius:10px;
display:inline-block;
margin:10px 0;

.order-card button{
background:#2563eb;
}